---
import { useSanityClient } from 'astro-sanity';
import PortableText from '../../components/PortableText.astro';
import HtmlWrapper from '../../layouts/HtmlWrapper.astro';

// export const prerender = true;

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`
    *[_type == "post"] {
      slug,
      asset,
      title,
      body,
      "imageUrl": mainImage.asset->url
    }
  `);

  return posts.map((post: unknown) => {
    if (!post || typeof post !== 'object') return {};

    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: { ...post },
    };
  });
}

const {
  title, body, description, imageUrl,
} = Astro.props;

const seo = {
  title,
  description,
  image: imageUrl,
};

---

<HtmlWrapper seo={seo}>

  <a href="/">go back</a>

  <h1>{title}</h1>

  <img src={imageUrl} alt="" style={{
    maxWidth: '20rem',
    maxHeight: '20rem',
  }}>

<PortableText portableText={body} />

</HtmlWrapper>
