---
import BaseHead, { Props as BaseHeadProps } from "../components/BaseHead.astro";

import "@/styles/GlobalStyles.module.scss";

export interface Props {
  seo?: BaseHeadProps;
}

const { seo } = Astro.props as Props;
---

<html lang="en">
  <head>
    <BaseHead {...seo} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
</style>