---
import { useSanityClient } from "astro-sanity";
import HtmlWrapper from "../layouts/HtmlWrapper.astro";
import Hero from "@/components/ui/Hero";
import Navbar from "@/components/ui/Navbar";
import Projects from "@/components/ui/Projects";
import Contact from "@/components/ui/Contact";

const posts = await useSanityClient().fetch(`
  *[_type == "project"] {
    slug,
    description,
    asset,
    title,
    body,
    "imageUrl": mainImage.asset->url,
  }
`);
---

<HtmlWrapper>
  <Navbar client:only />
  <Hero client:only />
  <Projects projects={posts} client:only />
  <Contact client:only />
  <!-- {
    posts && (
      <ul>
        {posts.map((post) => (
          <li>
            <a href={`post/${post.slug.current}`}>{post.title}</a>
          </li>
        ))}
      </ul>
    )
  } -->
</HtmlWrapper>
