---
import { useSanityClient } from "astro-sanity";
import HtmlWrapper from "../layouts/HtmlWrapper.astro";
import Hero from "../components/ui/Hero";
import Navbar from "@/components/ui/Navbar";

const posts = await useSanityClient().fetch('*[_type == "post"]');
---

<HtmlWrapper>
  <Navbar client:only />
  <Hero client:only />
  {
    posts && (
      <ul>
        {posts.map((post) => (
          <li>
            <a href={`post/${post.slug.current}`}>{post.title}</a>
          </li>
        ))}
      </ul>
    )
  }
</HtmlWrapper>
