---
import { useSanityClient } from "astro-sanity";
import HtmlWrapper from "../layouts/HtmlWrapper.astro";
import Hero from "@/components/ui/Hero";
import Navbar from "@/components/ui/Navbar";
import Projects from "@/components/ui/Projects";
import Contact from "@/components/ui/Contact";
import Footer from "@/components/ui/Footer";
import { urlForImage } from "@/sanity/urlForImage";
import Form from "@/components/ui/Form.astro";

const posts = await useSanityClient().fetch(`
  *[_type == "project"] {
    slug,
    description,
    asset,
    title,
    body,
    'image': mainImage.asset,
  }
`);

posts.forEach((post) => {
  post.imageUrl = urlForImage(post.image).width(500).auto("format").url();
});

---

<HtmlWrapper>
  <Navbar client:only />
  <Hero client:only />
  <Projects projects={posts} client:only />
  <Contact client:only />
  <Footer />
  <!-- {
    posts && (
      <ul>
        {posts.map((post) => (
          <li>
            <a href={`post/${post.slug.current}`}>{post.title}</a>
          </li>
        ))}
      </ul>
    )
  } -->
</HtmlWrapper>
